* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html {
    overflow: hidden;
}
html,
body {
    height:100%;
    width:100%;
    font-size: 100%;
    line-height: 1;
}
input,
button,
textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
:root {
    --color-dark:rgba(27, 28, 33, 1);
    --color-active:rgba(126, 126, 130, 1);
} 
@font-face {
    font-family:"TT Lakes" ;
    src: url("fonts/TTLakes-Regular.woff2"),
    url("fonts/TTLakes-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family:"TT Lakes" ;
    src: url("fonts/TTLakes-Medium.woff2"),
    url("fonts/TTLakes-Medium.woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family:"TT Lakes" ;
    src: url("fonts/TTLakes-Bold.woff2"),
    url("fonts/TTLakes-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
body{
    font-size: 16px;
}

.menu-active {
    display: flex;
    flex-direction: column;
    font-family: "TT Lakes";
    max-width: 320px;
    width: 100%;
    height: 100vh;
    padding-left: 25px;
    background-color: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

}
.header{
    margin-bottom: 30px;
    flex: 0 0 auto;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-mobile{
    display: flex;
    align-items: center;
    padding: 19px 0;
}
.button-icon {
    border: 0;
    padding: 0;
    background-color: inherit;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.button-icon:hover {
    transform: scale(1.1,1.1);
    transition: all 0.3s linear;
}
.header__btn-burger {
    background-image: url(img/burger.svg);

}
.header__logo {
    background-image: url(img/logo.svg);
    width: 97px;
    height: 50px;
}
.header__btn-search {
    background-image: url(img/search.svg);
    margin-right: 24px;
}
.menu__list {
    display: flex;
    flex-direction: column;
    
}
.menu {
    flex: 1 0 auto;
}
.menu__item {
    margin-bottom: 30px;
}
.menu__link {
    font-weight: 500;
    letter-spacing: -0.1;
    line-height: 24px;
    color:#1b1c21;
}
.menu__link:hover {
    color:#de2d62;
}
.menu__link--active {
    position: relative;
    color: var(--color-active);
}
.menu__link--active::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    top: -5px;
    background-image: url(img/highlight.svg);
    pointer-events: none;
    margin-left: -24.5px;
}
.footer {
    flex:0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer__btn--call {
    background-image: url(img/call.svg);
}
.footer__btn--chat {
    background-image: url(img/chat.svg);
}
.footer__btn--profile {
    background-image: url(img/profile.svg);
}

.footer__contacts {
   margin-bottom: 38px;
   padding-top: 16px;
}
.contacts__mail {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: var(--color-dark);
    height: 24px;
}
.contacts__phone {
    display: block;
    color:var(--color-dark);
    font-weight: 700;
    font-size: 24px;
}
.footer__languages {
    display: flex;
}
.languages__toggle {
    border: none;
    background: none;
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding-right: 8px;
}
.languages__toggle--active {
    color: var(--color-active);

}
@media screen and (max-width:375px) {
    .menu__item {
        margin-bottom: 20px;
    }
}