$white:#fff;
$text:#7e7e82;
$text-all:#1b1c21;
$highlighter:#41f6d7;
$slider-devider:#d9fff5;
$divider-price:#eaeaea;
$border-modal:#b5b6bc;
$grey:#f8f8f8;
$darkgrey:#e5e5e5;
$button-border:#b8ffec;
$button-border-hover:#ff3e79;
$swiper:#979797;
